@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@font-face {
    font-family:kenarose;
    src: url(../fuentes/Kenarose.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    height: 850px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.titulo{
    margin: 50px 50px;
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
}

.titulo .titulo-txt{
    font-family: "Nerko One", cursive;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin: 50px 50px;
    font-size: 90px;
    color: grey;
    position: absolute;
    text-align: center;
}

.titulo .titulo-img{
    height: 100%;
    width: auto;
    margin: auto;
}

.slider{
    width: 100%;
    border: 1px solid blueviolet;
    height: var(--height);
}

.slider .lista{
    display: flex;
}