@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@font-face {
    font-family: InputSerif;
    src: url(../fuentes/Input_Fonts/InputSerif/InputSerif/InputSerif-Regular.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    height: 4rem;
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: top 0.5s ease-in-out; 
}

body{
    background: #000;
}

.list{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list .item-list{
    font-family: InputSerif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.item-list::after{
    content: "";
    background: linear-gradient(to right, red,blueviolet, blue);
    top: 3rem;
    height: 4px;
    min-width: 0rem;
    max-width: 0rem;
    position: absolute;
    display: flex;
    transition: .5s ease;
    border-radius: 5px;
}

.item-list:hover::after{
    min-width: 9rem;
    max-width: 14rem;
}
/*------------------------------------INTRODUCCION----------------------*/
.main-intro{
    font-family: "Inconsolata",monospace;
    padding: 100px 100px 100px;
    font-size: 20px;
    background: #30302e;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    color: white;
}

.intro .intro-title{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-txt, .intro-txt-2{
    margin: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-txt{
    font-size: 22px;
    margin-right: 20px;
}

.img-intro{
    border: solid 5px #434341;
    display: flex;
    height: 25rem;
    width: 40rem;
}

.obj{
    padding: 20px;
    margin-top: 20px;
}

.obj-list{
    margin-top: 20px;
    padding-left: 30px;
    list-style: none;
}

.obj-list .item-list-objt{
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    counter-increment: numbers;
}

.obj-list .item-list-objt::before{
    content: counter(numbers);
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: #8e8e8d;
    position: absolute;
    left: -23px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7em;
    font-weight: bold;
}

/*------------------------------------DIDACTO----------------------*/
.didacto{
    font-family: "Inconsolata",monospace;
    padding: 100px 100px 100px;
    background: #30302e;
    box-sizing: border-box;
    width: 75%;
    margin: auto;
    color: white;
}

.didacto .title-didacto{
    font-size: 4rem;
    text-align: center;
}

.didacto .txt-didacto{
    font-size: 20px;
    padding: 1rem;
    margin-top: 10px;
}
/*------------------------------------DESARROLLO----------------------*/

/*------------------------------------LÉXICO----------------------*/

/*------------------------------------COMENTARIOS----------------------*/
