a{
    text-decoration: none;
    color: #ffff;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: black;
}

.container{
    margin: 100px;
    height: 700px;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .title{
    font-size: 103px;
    margin: 40px;
}

.container .list{
    margin: 80px;
}

.container .item-list{
    width: 400px;
    height: 50px;
    margin: 30px;
    font-size: 40px;
}

.item-list::after{
    content: "";
    background: linear-gradient(to right, red, blue);
    height: 4px;
    width: 0px;
    position: absolute;
    display: flex;
    transition: .5s ease;
    border-radius: 5px;
}

.item-list:hover::after{
    width: 400px;
}