* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

.container-fondo{
    border: solid 2px red;
    color: white;
    margin: 22.5%;
}

.container-fondo .titulo{

}