<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comentarios Una Exploración Vocacional</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<header>
    <h1>RETROALIMENTACIÓN</h1>
</header>
<body>
    <main>
        <div class="secciones">
            <ul>
                <li><a href="../templates/index.html">Introducción</a></li>
                <li><a href="../templates/didactobiografia.html">Didactobiografia</a></li>
                <li><a href="../templates/desarrollo.html">Desarrollo</a></li>
                <li><a href="../templates/lexico.html">Léxico</a></li>
                <li><a href="../templates/comentarios.html">Comentarios</a></li>
            </ul>
        </div>
    </main>
</body>
</html>