<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Desarrollo F.I.E</title>
</head>
<header>
    <h1>¿EXPLORACIÓN VOCACIONAL?</h1>
</header>
<body>
<main>
    <div class="secciones">
        <ul>
            <li><a href="../templates/index.html">Introducción</a></li>
            <li><a href="../templates/didactobiografia.html">Didactobiografia</a></li>
            <li><a href="../templates/desarrollo.html">Desarrollo</a></li>
            <li><a href="../templates/lexico.html">Léxico</a></li>
            <li><a href="../templates/comentarios.html">Comentarios</a></li>
        </ul>
    </div>
</main>
</body>
</html>