<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formación Integral de Educadores: Una exploración vocacional</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
        <div class="titulo">
            <div class="titulo-txt">
                <span class="titulo-span">FORMACIÓN INTEGRAL DE EDUCADORES UNA EXPLORACIÓN VOCACIONAL</span>
            </div>
            <img class="titulo-img" src="../static/images/Prueba1.jpg" alt="">
        </div>
        <div class="slider" style="
            --width:100px;
            --height: 70px;
            ">
            <div class="lista">
                <div class="item">
                    <img class="item-img" src="../static/images/menu-index.png" alt="">
                        <spam class="item-txt"><a href=""> Introducción </a></spam>
                    </img>
                </div>
                <div class="item">
                    <img class="item-img" src="../static/images/didacto-inicial.png" alt="">
                        <spam class="item-txt"><a href=""> Didacto - Biografia </a></spam>
                    </img>
                </div>
                <div class="item">
                    <img class="item-img" src="../static/images/desarrollo.png" alt="">
                        <spam class="item-txt"><a href=""> Desarrollo </a></spam>
                    </img>
                </div>
                <div class="item">
                    <img class="item-img" src="../static/images/lexico.png" alt="">
                        <spam class="item-txt"><a href=""> Léxico </a></spam>
                    </img>
                </div>
                <div class="item">
                    <img class="item-img" src="../static/images/comentarios.png" alt="">
                        <spam class="item-txt"><a href=""> Comentarios </a></spam>
                    </img>
                </div>
            </div>
        </div>
</body>
</html>