<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formación Integral de Educadores: Una exploración vocacional</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container-fondo">
        <section class="titulo">
            <div class="titulo-texto">
                <h1 class="titulo-portafolio">FORMACIÓN INTEGRAL DE EDUCADORES: UNA EXPLORACIÓN VOCACIONAL</h1>
            </div>
        </section>
        <section class="slider">
            <div class="lista">
                <div class="item">
                    <spam href="#"></spam>
                </div>
                <div class="item">
                    <spam href="#"></spam>
                </div>
                <div class="item">
                    <spam href="#"></spam>
                </div>
                <div class="item">
                    <spam href="#"></spam>
                </div>
                <div class="item">
                    <spam href="#"></spam>
                </div>
            </div>
        </section>
    </div>
</body>
</html>