<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introducción</title>
    <link rel="stylesheet" href="../static/css/style-2.css">
</head>
<body>
    <header>
        <nav class="list">
            <a href="../templates/index.html" class="item-list">Inicio</a>
            <a href="../templates/introduccion.html" class="item-list">Introducción</a>
            <a href="../templates/didactobiografia.html" class="item-list">Didacto - Biografía</a>
            <a href="../templates/desarrollo.html" class="item-list">Desarrollo</a>
            <a href="../templates/lexico.html" class="item-list">Léxico</a>
            <a href="../templates/comentarios.html" class="item-list">Comentarios</a>
        </nav>
    </header>
    <div class="main-intro">
        <div class="intro">
            <div class="intro-title">
                <h1><span class="auto-type"></span></h1>
                <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
                <script>
                    var typed = new Typed(".auto-type", {
                        strings: ["Introducción.","Introduction.","Einführung.","Introduksjon."],
                        typeSpeed: 50,
                        backSpeed: 50,
                        loop: true
                    });
                </script>
            </div>
            <div class="intro-txt">
                <p class="item-txt">La evaluación de los aprendizajes en todas las etapas de la educación son siempre un tema bastante discutido por distintos autores para este caso el abordaje proporcionado por la doctora Lilia Reyes permite llevar a cabo un portafolio para la evaluación de los aprendizajes en la educación superior por tal motivo se realiza este portafolio virtual para la materia Formación Integral de Educadores (F.I.E), con el fin de explorar métodos atípicos de aprendizaje poco vistos desde la ingeniería.La Formación Integral de Educadores (F.I.E) busca que los pedagogos en formación reflexionen sobre el conocimiento de la formación docente, que se cuestionen la realidad desde distintas ópticas ante los retos que plantea el mundo actual y nuestro país. Este portafolio está planteado desde una vista ingenieril.</p>
                <img class="img-intro" src="../static/images/macarena.jpg" alt="">
            </div>
            <div class="intro-txt-2">
                <p class="item-txt"> Para este caso la ingeniería catastral y geodesia es en sí una ingeniería holística donde el campo de las ciencias sociales y humanas no se deben dejar de lado. Finalmente, el desarrollo del portafolio “una exploración vocacional” se verá seccionada en cuatro partes principales donde cada una tendrá su explicación. A lo largo de esta primera página podrá encontrar la introducción a la material y un camino guía del porqué de este portafolio así como también podrá encontrar objetivos y la didactobiografia tanto en texto como en video para el disfrute y comprensión de este.</p>
            </div>
        </div>
        <div class="obj">
            <div class="obj-title">
                <h1><span class="auto-type-2"></span></h1>
                <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
                <script>
                    var typed = new Typed(".auto-type-2", {
                        strings: ["Objetivos.","Objectives.","Ziele.","Mål."],
                        typeSpeed: 50,
                        backSpeed: 50,
                        loop: true
                    });
                </script>
            </div>
            <div class="obj-txt">
                <ol class="obj-list">
                    <li class="item-list-objt">Realizar una corta exploración vocacional en la pedagogia</li>
                    <li class="item-list-objt">Desarrollar el tema de profundización Ética y Educación</li>
                    <li class="item-list-objt">Permitir que el portafolio sea una experiencia agradable para el usuario</li>
                </ol>
            </div>
        </div>
    </div>
    <script src="../script/script.js"></script>
</body>
</html>