<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introducción</title>
    <link rel="stylesheet" href="../static/css/style-2.css">
</head>
<body>
    <header>
        <nav class="list">
            <a href="../templates/index.html" class="item-list">Inicio</a>
            <a href="../templates/introduccion.html" class="item-list">Introducción</a>
            <a href="../templates/didactobiografia.html" class="item-list">Didacto - Biografía</a>
            <a href="../templates/desarrollo.html" class="item-list">Desarrollo</a>
            <a href="../templates/lexico.html" class="item-list">Léxico</a>
            <a href="../templates/comentarios.html" class="item-list">Comentarios</a>
        </nav>
    </header>
    <main>
    </main>
</body>
</html>