<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lexico F.I.E</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<header>
    <h1>¿DE QUÉ HABLAN?</h1>
</header>
<body>
<main>
    <nav class="sidebar">
        <div class="logo-menu">
            <h2 class="logo">Una Exploración Vocacional</h2>
            <i class='bx bxs-home-alt-2'></i>
        </div>
        <ul class="list">
            <li class="list-item">
                <a href="../templates/index.html">
                    <span>Introducción</span>
                    <i class='bx bxs-bookmark-star' ></i>
                </a>
            </li>
            <li class="list-item">
                <a href="../templates/didactobiografia.html">
                    <span>Didactobiografia</span>
                    <i class='bx bxs-map-pin' ></i>
                </a>
            </li>
            <li class="list-item">
                <a href="../templates/desarrollo.html">
                    <span>Desarrollo</span>
                    <i class='bx bx-line-chart'></i>
                </a>
            </li>
            <li class="list-item">
                <a href="../templates/lexico.html">
                    <span>Léxico</span>
                    <i class='bx bxs-analyse'></i>
                </a>
            </li>
            <li class="list-item">
                <a href="../templates/comentarios.html">
                    <span>Comentarios</span>
                    <i class='bx bxs-chat' ></i>
                </a>
            </li>
        </ul>
    </nav>
</main>
</body>
</html>